
div.scrollmenu {
  white-space: nowrap;
  overflow: auto;
    text-align: left;
}


.noTouch{
  touch-action: none;
  margin-top:10px;
  margin-left:10px;
  margin-right: 10px;
  height: 90px;
  width: 25%;
  display: inline-flex;
  text-align: center;
  overflow: visible;
}

div.scrollmenu img {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    z-index: -1;
}

.belowBox::-webkit-scrollbar {
    display: none;
}


.dragging{
  position: absolute;
}
