.btn {
    color: #cc0000;
    background: #fff;
    text-transform: uppercase;
    font-weight: 400;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 5px;
}

.flex-item {
    background-color: white;
    text-align: center;
    height: 30px;
    font-size: 15px;
    padding-top: 0.2em;
}

.item1 {
    -webkit-flex: 1;
    flex: 1;
}

.item2 {
    -webkit-flex: 1.2;
    flex: 1.2;
}

.item3 {
    -webkit-flex: 1;
    flex: 1;
}

.item4 {
    -webkit-flex: 1.8;
    flex: 1.8;
}

img {
    margin-top:10px;
    margin-left:10px;
    margin-right: 10px;
    height: 100px;
    width: 100px;
}

.belowBox {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}
/*, .btn:hover*/
.active {
    background: #cc0000;
    color: white;
}
