.btn {
    color: black;
    background: #fff;
}

.active, .btn:hover {
    background: lightgrey;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 90%;
    margin: auto;
    font-size: 13px;
    margin-top: 5px;
    background-color: lightgrey;
}

.flex-item {
    background-color: white;
    text-align: center;
    height: 30px;
    font-size: 16px;
    padding-top: 0.3em;
}

.item1 {
    -webkit-flex: 1;
    flex: 1;
}

.item2 {
    -webkit-flex: 1;
    flex: 1;
}

.item3 {
    -webkit-flex: 1;
    flex: 1;
}

.item4 {
    -webkit-flex: 2;
    flex: 2;
}

img {
    margin-top:10px;
    margin-left:10px;
    margin-right: 10px;
    height: 100px;
    width: 80px;
}

.belowBox {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    background-color: lightgrey;
}