.DropZoneContainer {
  display: block;
  width: 95%;
  height: 400px;
  margin: auto;
  border: 1px solid grey;
  touch-action: none;
  margin-top: 10px;
}

.draggable {
  width: 100px;
  position: absolute;
}
