.outfitName2 {
    font-family: 'Abel', sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
    /*font-family: 'Raleway', sans-serif; */
}

.buttonContainer {
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

#createOutfitButton{
  position: relative;
  bottom: 7%;
  pointer-events: all;
  width: 60%;
  max-width: 300px;
  padding: 6px 7px;
  border: none;
  border-radius: 30px;
  box-shadow: 3px 3px 5px rgba(0,0,0,.3);
  cursor: pointer;
}

.outfitRow {
    margin-top: 10px;
}

#loadingImg{
  position: fixed;
  width: 150px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -75px;
}
