.navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-bar-text {
    font-weight: 500;
    color: black;
    /*font-family: 'Roboto Slab'; */
    font-family: 'Abel', sans-serif;

    /*font-family: 'Montserrat', sans-serif;*/
    /*font-family: 'Raleway', sans-serif;*/
    font-size: 20px;
}

#navBar {
    border-top: 1px solid lightgrey;
}

.backgroundImage {
    background-image: url("../../public/assets/red-shirt.svg");
}