#undoButton {
    width: 30px;
    height: 30px;
    float: right;
}

.outfitName {
    border-radius: 10px;
    background: lightgrey;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    text-align: center;
    top: 55px;
    margin: auto;
    box-shadow: 3px 3px 6px grey;
    font-family: 'Montserrat', sans-serif;
}

.outfitNameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}