#rateViewContainer {
    text-align: center;
}

.imageID{
  height: 300px;
  width: 90%;
  text-align: center;
}

.imageIDContainer {
    text-align: center;
}

.ratingsLabel {
    font-size: 20px;
    width: 90%;
    margin: auto;
    margin-top: 5px;
}

textarea {
    max-width: 90%;
    margin: auto;
    margin-bottom: 10px;
}