/* .saveOutfitContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
.saveOutfitContainer {
    margin-top: 5px;
}

#saveOutfitButton {
    font-size: 16px;
    margin-top: 2px;
}