#singleOutfitViewContainer {
    margin-top: 10px;
    margin-bottom: 4em;
}

#copyButton{
    margin-top: 1em;
    margin: 0 0 1px 5px;
    font-size: .75em;
}

.socialMediaLink {
    margin-left: 0.7em;
}

.socialMediaIcon {
    height: 30px;
    width: 30px;
}

.commentBox {
  border: 1px solid black;
    width: 90%;
    margin: auto;
    margin-bottom: 5px;
    word-wrap: break-word;
    padding: 5px;
}

.ratingsContainer {
    border: 1px solid grey;
    text-align: center;
    margin-bottom: 10px;
    width: 95%;
    margin: auto;
    margin-top: 10px;
}

.imageID{
  height: 300px;
  width: 90%;
  margin: auto;
}

.imageIDContainer {
    text-align: center;
}

#linkContainer {
    padding-top: 10px;
    width: 95%;
    margin: auto;
    text-align: center;
}

.ratingsLabel {
    font-size: 20px;
    width: 90%;
    margin: auto;
    margin-top: 1em;
}

.averageRatings {
    font-size: 16px;
    text-align: center;
}

#noRatingsPlaceholder {
  width: 90%;
  margin: auto;
  text-align: center;
}

#noRatingsHeader {
    margin-top: 5px;
}

/*
.button {
  margin: 0 .7rem 1rem 0rem;
  font-size: .75em;
}
*/

.button:hover {
 /* cursor: */
}

#shareLinkButtons{
  width: auto;
  text-align: center;
}

#linkCopy {
    width: 75%;
    display: inline-block;
}

#linkTitle {
    display: block;
    text-align: left;
    font-size: 20px;
}

#container {
    margin-top: 1em;
}

#wishlistContainer {
    margin-top: 1em;
}

.wishlistItems, .wishlistItem {
    display: inline;
    position: relative;
}

.wishlistAdd {
    position: absolute;
    top: 154%;
    left: 67%;
    height: 25px;
    width: 25px;
}

#overallRatingsContainer {
    border-style: double;
}



main {
    background: #EEE;
    width: 95%;
    text-align: center;
    margin: auto;
    margin-top: 1em;
}
p {
    font-size: 13px;
}
#toggle {
    display: none;
    visibility: hidden;
}
label {
    display: block;
    padding: 0.5em;
    text-align: center;
    border-bottom: 1px solid #CCC;
    color: #666;
}
label:hover {
    color: #000;
}
label::before {
    font-family: Consolas, monaco, monospace;
    font-weight: bold;
    font-size: 15px;
    content: "+";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 3px;
}
#expand {
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
}
.section {
    padding: 0 20px;
}
#toggle:checked ~ #expand {
    height: inherit;
}
#toggle:checked ~ label::before {
    content: "-";
}

#ratingsLabelContainer {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 16px;
    border-bottom: none;
}