#singleOutfitViewContainer {
    margin-top: 20px;
}

.commentBox {
  border: 1px solid black;
    width: 90%;
    margin: auto;
    margin-bottom: 5px;
}

.ratingsContainer {
    border: 1px solid grey;
    text-align: center;
}

.imageID{
  height: 300px;
  width: 90%;
  margin: auto;
}

.imageIDContainer {
    text-align: center;
}


#linkContainer {
    padding-top: 10px;
    width: 90%;
    margin: auto;
}

.ratingsLabel {
    font-size: 20px;
}

.ratingsContainer {
    width: 90%;
    margin: auto;
}

.averageRatings {
    font-size: 16px;
    text-align: center;
}