#singleOutfitViewContainer {
    margin-top: 10px;
    margin-bottom: 4em;
}

#copyButton{
    margin-top: 1em;
    margin: 0 0 1px 5px;
    font-size: .75em;
}

.socialMediaLink {
    margin-left: 0.7em;
}

.socialMediaIcon {
    height: 30px;
    width: 30px;
}

.commentBox {
  border: 1px solid black;
    width: 90%;
    margin: auto;
    margin-bottom: 5px;
}

.ratingsContainer {
    border: 1px solid grey;
    text-align: center;
    margin-bottom: 10px;
    width: 95%;
    margin: auto;
}

.imageID{
  height: 300px;
  width: 90%;
  margin: auto;
}

.imageIDContainer {
    text-align: center;
}

#linkContainer {
    padding-top: 10px;
    width: 95%;
    margin: auto;
    text-align: center;
}

.ratingsLabel {
    font-size: 20px;
    width: 90%;
    margin: auto;
    margin-top: 5px;
}

.averageRatings {
    font-size: 16px;
    text-align: center;
}

#noRatingsPlaceholder {
  width: 90%;
  margin: auto;
  text-align: center;
}

#noRatingsHeader {
    margin-top: 5px;
}

/*
.button {
  margin: 0 .7rem 1rem 0rem;
  font-size: .75em;
}
*/

.button:hover {
 /* cursor: */
}

#shareLinkButtons{
  width: auto;
  text-align: center;
}

#linkCopy {
    width: 75%;
    display: inline-block;
}

#linkTitle {
    display: block;
    text-align: left;
    font-size: 20px;
}

#container {
    margin-top: 1em;
}

#wishlistContainer {
    margin-top: 1em;
}

.wishlistItems, .wishlistItem {
    display: inline;
    position: relative;
}

.wishlistAdd {
    position: relative;
    height: 25px;
    width: 25px;
}